@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email Confirmed";
}

<h1>Thank you!</h1>
<p>Thanks for confirming your email address. If you haven't already, please respond to the text message we sent so that you can use the alert service.</p>