@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This website allows you to set custom alerts for people you follow on twitter. So if you follow Bob and you want to get an SMS
    alert whenever Bob tweets about "video games" you can simply log in to our site, create an alert for Bob with the trigger words 
    "video game." You will get a text message within a few minutes of whenever Bob tweets about video games.</p>
</div>
